*{
  font-family: cursive;

}

.navbar-style{
  background-color: rgb(251, 222, 187)
}
.logo-img{
  width: 50px;
  height: 50px;
}
/* .logo-style{
  width: 60px;
  height: 60px;
} */
.logo_name{
  margin-left: 3rem;
  margin-top: -2rem;
  font-size: large;
}

/* .nav-style{
  color: black;
  font-size: large;
}

.slide-img{
  height: 30rem;
} */
main{
  min-height: 80vh;
}

footer{
  background-color: rgb(251, 222, 187);
  /* color: black;
  font-size: large; */
}

/* .form-style{
  font-size: large;
}

.h6-style{
  font-size: small;
  margin-left: 4rem;
} */

.vtu{
  width: 20rem;
  height: 20rem;
  float: right;
  margin-bottom: 3rem;
  margin-left: 10rem;
  
}
.heading{
  text-align: left;
  margin-top: 2rem;
}
.min{
  min-height: 40vh;
}
